# Backend Environment Configuration
PORT=4000
NODE_ENV=development
FRONTEND_URL="https://project-1-frontend-ten.vercel.app,http://localhost:3000"

# JWT Secret Key
JWT_SECRET=ims_super_secret_jwt_key_2026

# Database Connection (Replace with your Supabase / PostgreSQL URL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ims_db?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/ims_db?schema=public"
